/** Grid System **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
}

.container-full .row {
    max-width: 1000px;
    margin: 0 auto;
}
/** Hack de clearfix **/
.row::after, .row::before {
    content:"";
    display:table;
    clear: both;
}

[class *='col-'] {
    float: left;
    min-height: 1em;
    padding: 1em;
}

/** 100/12*columnas **/
.col-1{ width:8.333333333333334%; }
.col-2{ width:16.666666666666668%; }
.col-3{ width:25%; }
.col-4{ width:33.333333333333336%; }
.col-5{ width:41.66666666666667%; }
.col-6{ width:50%; }
.col-7{ width:58.333333333333336%; }
.col-8{ width:66.66666666666667%; }
.col-9{ width:75%; }
.col-10{ width:83.33333333333334%; }
.col-11{ width:91.66666666666667%; }
.col-12{ width:100%; }

/** Primer Breakpoint de bootstrap **/
@media (max-width:576px){
    [class *='col-'] {
       width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
    .center{
        display: none;
    }
    
}
@media (min-width:576px){
    .hide-on-desktop {
        display: none;
    }
}
/** End of Grid System **/